*
{
  /* 
    Defines the main font used throughout the entire site 
  */
  font-family: Verdana, Sans-Serif;
}

body
{
  /* 
    Clears white space around the body and gives it a dark gray color.
  */
  margin: 0;
  background-color: #1164DA;
  background-image: url('../Main/azul.jpg');
  background-repeat: repeat-x;
}

a
{
  /*
    Clears the underline on normal links, and gives them a blue text color.
  */
  text-decoration: none;
  color: #3F92D2;
}

a:hover
{
  /*
    Underlines links when the user hovers the mouse over them.
  */
  text-decoration : underline;
  color: #66A3D2;
  background-color: #3F92D2;
}

h1
{
  /*
    Makes h1 elements smaller than their browser default.
  */
  font-size : 20px;
  /*text-decoration: underline;
  text-align:center;*/
}

h2
{
    /* 
    Gives h2 elements a different background color and size, 
    and adds a bit of margin at the top to create room between the heading and the preceding element.
  */
  font-size: 16px;
  color: #A62500;
  margin-top: 10px;
}

#TopWrapper
{
  width: 930px;
  margin: 10px auto 10px auto;
  height: 140px;
}

#Header
{
  background-color: #0B61A4;
  width: 140px;
  height: 140px;
  float: left;
}

#MenuWrapper
{
  width: 740px;
  float:left;
  min-height: 140px;
}

#MenuWrapper a
{
  /*
    Links in the Menu are white.
  */
  color: #fff;
}

.MainMenu
{
    /*
    The Menu gets a white border on all four sides.
  */
    width: 880px;
    height: 85px; /*background-color: #3F92D2;*/
    text-align: center;
    padding-top: 55px;
}

.MainMenu ul li
{
  /*
    Gives the four menu items in the main menu a width of 200px each
  */
  width: 113px;
    z-index:700;
}

#PageWrapper
{
  width: 930px;
  background-color: #B4CDCD;
  margin: auto;
}

#MainContent
{
  /*
    Defines the main content area. The #MainContent element has a minimum height of 500 pixels, but can grow if necessary.
    The font-size is 80% of its parent element, which in this case comes down to 80% of the font
    the user has specified as the default font in the browser.
  */
  font-size: 0.8em;
  width: 600px;
  float: left;
  background-color: #B4CDCD;
  min-height: 500px;
  border-top:10px solid #B4CDCD;
  border-left:10px solid #B4CDCD;
  border-right:10px solid #B4CDCD;
}

#Sidebar
{
  /*
    The Sidebar is positioned to the right of the MainContent area. It gets the same font-size as #MainContent
    and gets a background image called Sidebar.jpg. To ensure the image is visible in (most) browsers
    on a small page, the element gets a minimum height of 500px. This is ignored by IE 6.
  */
  font-size: 0.8em;
  font-weight: bold;
  color: Orange;
  background-color: #033E6B;
  width: 280px;
  min-height:500px;
  border:5px solid #033E6B;
  float: left;
}

#Footer
{
  width: 930px;
  clear: both;
  height: 37px;
  background-color : #033E6B;
  color: White;
  text-align: center;
  font-size: 0.7em;
  font-weight: bold;
  line-height: 37px;
  border-bottom: 1px solid #66A3D2;
  border-top: 1px solid #66A3D2;
  margin: 20px auto 20px auto;
}

#mslide
{
  clear:both;
  width:600px;
  height:400px;
}
#formularios
{
    background-color: #0187D0;
    color: White;
    text-align: center;
    font-size: large;
    font-weight: bold;
    width: 150px;
    height: 37px;
    float: left;
    padding-top: 23px;    
}
#eventos
{
    background-color: #FF3900;
    color: White;
    text-align: center;
    font-size: large;
    font-weight: bold;
    width: 150px;
    height: 60px;
    float: left;
}
#ilumina
{
    background-color: #FFB900;
    color: White;
    text-align: center;
    font-size: large;
    font-weight: bold;
    width: 150px;
    height: 37px;
    float: left;
    padding-top: 23px;
}
#fotovideo
{
    background-color: #A62400;
    color: White;
    text-align: center;
    font-size: large;
    font-weight: bold;
    width: 150px;
    height: 60px;
    float: left;
    text-indent: 5px;
}
.ErrorMessage
{
  color: Red;
}

ul.level1
{
  /* Defines the appearance of main menu items. */
  font-size: 14px;
  font-weight: bold;
  height: 19px;
  line-height: 33px;
}

ul.level1 .selected
{
  /* Defines the appearance of active menu items */
  background-color: #3F92D2;
}

a.level1
{
  /* Adds some white space to the left of the main menu item text */
  margin-left: 0px;
}

a.level2
{
  /* Defines the appearance of the sub menu items */
  background-color: #3F92D2;
  padding-left: 5px;
  width: 200px;
}

a.level1:hover, a.level2:hover
{
    /* Defines the hover style for the main and sub items */
    background-color: #BCD1FE;
}

a.tab
{
    clear:both;
    text-decoration: none;
    color:White;
    border-bottom: 10px solid white;
}

a.tab:hover
{
    clear:both;
    background-color:transparent;
}

.PleaseWait
{
    height: 32px;
    width: 500px;
    background-image: url(../../includes/pleasewait.gif);
    background-repeat: no-repeat;
    padding-left: 40px;
    line-height: 32px;
}

.Attention
{
  border: 4px solid red;
  padding: 10px 0;
  width: 100px;
  margin: auto;
  display: block;
  text-align: center;
}