@charset "utf-8";
/* Layout 
header { position: relative; height: 50px; padding-top: 15px; }
header a.logo {
	width: 150px;
	height: 15px;
	position: absolute;
	top: 31px;
	left: 181px;
	/*background: url(../images/logo.png) no-repeat 0px 0px;
	display: inline-block;
}*/
nav { float: right; }

/*.clear { clear: both; line-height: 1px; }*/


/* Dropdown Menus */

	.nav_menu { position: relative; z-index: 1000; margin-top:25px; padding: 0px; }
	
		/* drop menu */
	.nav_menu .dropmenu { margin: 0; padding: 0; height: 28px; display: none; /* displays after menu load */ }
	
	/* all items  */
	.nav_menu ul.dropmenu li { height: 28px; }
	.nav_menu ul.dropmenu li:hover { background-color: #4E91C4; opacity: .95; }
	.nav_menu ul.dropmenu li.selected { background-color: #4E91C4; }
	.nav_menu ul.dropmenu li a { color: #fff; text-decoration: none; padding: 0px; line-height: 12px; }
	.nav_menu ul.dropmenu li.selected a { color: #ffd200; }
	
	/* topitems */
	.nav_menu ul.dropmenu { margin: 0px; padding: 0px; }
	.nav_menu ul.dropmenu a.toplevel { height: auto; margin: 7px 20px 7px 20px; padding: 0px 0px 4px 0px; color: #fff; font-weight: bold; text-decoration: none; }
	.nav_menu ul.dropmenu a.toplevel.hover { color: #fff; }
	.nav_menu ul.dropmenu a.toplevel.selected { color: #f7ad0b; }
	.nav_menu ul.dropmenu a.toplevel.hover.selected {  }

	/* subitems */
	.nav_menu ul.dropmenu li ul { background-color: #4E91C4; border-top: 1px solid #fff; }
	.nav_menu ul.dropmenu li ul li a.sublevel { color: #fff; width: 150px; padding: 5px 5px 5px 20px; margin: 0px; }
	.nav_menu ul.dropmenu li ul li a.sublevel.hover { color: #fff; background-color: #1b5989; }
	.nav_menu ul.dropmenu li ul li a.sublevel.selected { color: #f7ad0b; }
	.nav_menu ul.dropmenu li ul li a.sublevel.hover.selected {  }
	
	/* sub subitems */
	.nav_menu ul.dropmenu li ul ul { left: -10px; border: none; border-left: 1px solid #fff; }
	
	/* Sub Menu Indicators */
	.nav_menu ul.dropmenu a.indicator { background: url(../_assets/arrow_right.gif) no-repeat right 50%; }
	.nav_menu ul.dropmenu a.toplevel.indicator { background: url() no-repeat 0px bottom; }
